a {
    text-decoration:none;
}
body {
    
    background-color:#cccccc;
}
td {
	text-align:center;
	position:relative;
}
.cell-background {
	width:90%;
	max-height:90%;
    filter:opacity(70%)
}
.cell-background:hover {
    filter:opacity(100%);
}
p {
    color:#000;
    font-family:Ubuntu;
    font-size:400%;
    font-weight:bold;
}
div {
    border:none;
    color:#000;
    font-family:Ubuntu;
    font-weight:Bold;
    font-size:20;
    color:;
}